/**/
/* end */

/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ul,
li {
  list-style: none;
  padding: 0;
}
body,
html {
  background: rgb(206, 229, 208, 0.4);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  overflow-x: hidden;
}
/* end */

/* container styles */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40%;
  flex-wrap: wrap;
  border-bottom: 1px solid #969696;
  margin: 40px 0;
  padding: 10px 0;
}
/* end */

/* navbar styles */
.nav-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.nav-bar li {
  padding: 10px;
  border-radius: 15px;
  color: #003865;
  cursor: pointer;
}
.nav-bar li:hover {
  text-decoration: underline;
}
/* end */

/* logo styles */
.my-app-logo {
  width: 200px;
}
/* end */

/* login button styling */
#login-btn {
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: medium;
  background: linear-gradient(127.27deg, #73a9ad 0%, #90c8ac 58.92%);
  font-weight: 300;
  font-size: 22px;
  margin: 0 auto;
}
#login-btn:hover {
  box-shadow: 0 0 10000px inset rgb(0, 0, 0, 0.2);
}
/* end */

/* logout button  */
.logout-btn {
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: medium;
  background: linear-gradient(127.27deg, #73a9ad 0%, #90c8ac 58.92%);
  font-weight: 300;
  font-size: 16px;
}
.logout-btn:hover {
  box-shadow: 0 0 10000px inset rgb(0, 0, 0, 0.2);
}
/* end */

/* chat svg */
.chat-svg {
  width: 60vw;
  display: block;
  margin: 0 auto;
  min-width: 100px;
}
.bg {
  background-image: linear-gradient(
    126.25deg,
    #f5f0bb 32.14%,
    #90c8ac 88.53%,
    #c4dfaa 88.53%
  );
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
}
.background-img {
  opacity: 0.8;
}
#text {
  color: #003865;
  margin: 40px;
  font-weight: 500;
  font-size: 35px;
  line-height: 47px;
  width: 90%;
}
/* end */

/* footer */
.github-link {
  background: linear-gradient(127.27deg, #73a9ad 0%, #90c8ac 58.92%);
  padding: 20px 0;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}
.github-icon {
  width: 30px;
  vertical-align: middle;
  border-radius: 50%;
  fill: #1b1f23;
  cursor: pointer;
}
/*end*/
/*user image*/
.user-img {
  width: 30px;
}
/*end*/

/* user info and email */
.current-user {
  display: flex;
  align-items: center;
}
.username-and-email {
  position: relative;
  padding: 7px;
  cursor: pointer;
}
.email {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  white-space: nowrap;
  padding: 10px 15px;
  visibility: hidden;
  transition: opacity 0.5s ease;
  border-radius: 20px;
}
.email::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #333 #0000 #0000 #0000;
}
.username-and-email:hover .email {
  top: -130%;
  visibility: visible;
  opacity: 1;
}
/*end*/
/* @media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
  #login-btn {
    cursor: pointer;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(127.27deg, #73a9ad 0%, #90c8ac 58.92%);
    font-weight: 300;
    font-size: 12px;
  }
  .github-link {
    font-size: 12px;
  }
  .chat-svg {
    width: 80vw;
  }
  #text {
    font-size: 16px;
  }
} */
/* @media screen and (max-width: 716px) {
  .container {
    justify-content: center;
  }
} */
/* display none */
.display {
  display: none;
}
/* end */

@media screen and (max-width: 430px) {
  .bg {
    position: relative;
  }
  .background-img {
    opacity: 0.6;
    padding: 40px 0;
  }
  #text {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .github-link {
    font-size: 16px;
  }
}
